.contactsBlock{
    min-height: 100vh;
    background-color: #2B2344;
}

.contactsContainer{
    flex-direction: column;
    justify-content: flex-start;
}

.contactForm {
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    margin-bottom: 10px;
}

.contactForm input {
    width: 80% ;
    align-self: center;
    height: 35px;
    border-radius: 5px;
    border:2px solid #7C5961;
    margin-bottom: 5px;
}

.contactForm textarea {
    width: 80% ;
    height: 200px;
    border-radius: 5px;
    border:2px solid #7C5961;
    align-self: center;
}

.MyButton {
    width: 140px;
    height: 35px;
    border-radius: 5px;
    align-self: center
}

@media screen and (max-width: 900px){
    .contactForm {
        width: 100%;
    }
}