.project {
    width: 450px;
    background-color: #78d27d;
    display: flex;
    flex-direction: column;
}

.imgProject {
    width: 370px;
    height: 400px;
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectTitle {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 42px;
}

.description {
    font-size: 16px;
    font-weight: 300;
    color: #ffffff
}
